{% extends 'admin/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3">
        <a href="{{ path('app_admin_user_index') }}"> < Retour</a>
        <h1>Créer un nouvel utilisateur</h1>
        {% for message in app.flashes('new-user-error') %}
        <div class="alert alert-danger mt-2 p-2">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('new-user-success') %}
            <div class="alert alert-success mt-2 p-2">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('admin/user/_form.html.twig') }}
    </div>
{% endblock %}
