<form method="post" action="{{ path('app_admin_musique_delete', {'id': musique.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette musique?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musique.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
