{% extends 'admin/base.html.twig' %}

{% block title %}Edit Musique{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3"> 
        <a href="{{ path('app_admin_musique_index') }}"> < Retour</a>
        <h1>Modifier cette musique</h1>
        {{ include('admin/musique/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
{% endblock %}
