{% extends 'admin/base.html.twig' %}

{% block title %}New Musique{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3">
        <a href="{{ path('app_admin_musique_index') }}">< Retour</a>
        <h1>Nouvelle musique</h1>
        {{ include('admin/musique/_form.html.twig') }}
    </div>
{% endblock %}
