
@import "~bootstrap/scss/bootstrap";
@import "./login.scss";
body {
    background-color: #000000 !important;
    color: white;
}
.card{
    background-color: #121212 !important;
    color: white;
}
.table-dark th, .table-dark td{
    background: none;
}
.fit-content{
    max-width: fit-content;
}

.card-album{
    width: 350px;
    img{
        width: 100%;
        object-fit: contain;
    }
}