{% extends 'admin/base.html.twig' %}

{% block title %}album{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3">
        <a href="{{ path('app_admin_album_index') }}"> < Retour</a>
        <h1>Nouvelle album</h1>
        {{ include('admin/album/_form.html.twig') }}
    </div>
{% endblock %}
