<form method="post" action="{{ path('app_admin_style_delete', {'id': style.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer ce style?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ style.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
