{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau style{% endblock %}

{% block body %}
    <div class="card mt-1 m-4 p-3">
        <a href="{{ path('app_admin_style_index') }}">< Retour</a>
        <h1>Nouveau style</h1>
        {{ include('admin/style/_form.html.twig') }}
    </div>
{% endblock %}
